---
import PageHeader from "../../components/PageHeader.astro";
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import PostComponent from "../../components/PostComponent.astro";

const posts = (await getCollection("thoughts")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<PageLayout>
    <PageHeader
        title="Our Thoughts"
        text="Collection of our ideas, thoughts, articles and writings."
    />

    <section class="mt-20">
        <ul class="flex flex-col gap-6">
            {
                posts.map((post) => (
                    <PostComponent
                        slug={`/thoughts/${post.slug}/`}
                        title={post.data.title}
                        date={post.data.pubDate}
                    />
                ))
            }
        </ul>
    </section>
</PageLayout>
