@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Regular.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Light.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Medium.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-SemiBold.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Bold.woff2) format("woff2");
    }

    body {
        @apply text-primary-color bg-bg-primary m-0 p-0 break-words leading-[1.7];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-primary-color;
    }
    h1 {
        font-size: 3.052em;
    }
    h2 {
        font-size: 2.441em;
    }
    h3 {
        font-size: 1.953em;
    }
    h4 {
        font-size: 1.563em;
    }
    h5 {
        font-size: 1.25em;
    }
    strong,
    b {
        font-weight: 700;
    }
    p {
        margin-bottom: 1em;
    }
    .prose p {
        margin-bottom: 2em;
    }
    textarea {
        width: 100%;
        font-size: 16px;
    }
    input {
        font-size: 16px;
    }
    table {
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
    code {
        padding: 2px 5px;
        border-radius: 2px;
        @apply bg-[#11111b];
    }
    pre {
        padding: 1.5em;
        border-radius: 8px;
    }
    pre > code {
        all: unset;
    }
    blockquote {
        border-left: 4px solid var(--accent);
        padding: 0 0 0 20px;
        margin: 0px;
        font-size: 1.333em;
    }
    hr {
        border: none;
        border-top: 1px solid rgb(var(--gray-light));
    }
    @media (max-width: 720px) {
        body {
            font-size: 18px;
        }
        main {
            padding: 1em;
        }
    }

    a.active {
        @apply underline underline-offset-8 decoration-wavy;
    }
}
