@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Importing fonts */

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Regular.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Light.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Medium.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-SemiBold.woff2) format("woff2");
    }

    @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/JetBrainsMono-Bold.woff2) format("woff2");
    }

    /* General classes */

    body {
        @apply text-primary-color bg-bg-primary m-0 p-0 break-words leading-[1.7];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-primary-color;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    strong,
    b {
        @apply font-bold;
    }

    textarea {
        width: 100%;
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    table {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    code {
        @apply bg-[#11111b] py-[2px] px-[5px] rounded-sm;
    }

    pre {
        @apply p-6 rounded-lg;
    }

    pre > code {
        all: unset;
    }

    blockquote {
        @apply border-l-4 border-primary-color pl-5 m-0 text-xl;
    }

    a.active {
        @apply underline underline-offset-8 decoration-wavy;
    }

    /* Homepage classes */

    .intro-text {
        @apply text-2xl leading-relaxed my-10 italic before:content-['*'] before:text-4xl before:not-italic;
    }

    /* Classes for md content */

    .prose {
        @apply text-[#cdd6f4];
    }

    .prose p {
        @apply text-xl leading-relaxed mb-6;
    }

    .prose h1 {
        @apply mb-8 mt-10;
    }
    .prose h2 {
        @apply mb-7 mt-10;
    }
    .prose h3 {
        @apply mb-6 mt-10;
    }
    .prose h4 {
        @apply mb-5 mt-10;
    }
    .prose h5 {
        @apply mb-4 mt-10;
    }
    .prose h6 {
        @apply mb-3 mt-10;
    }

    .prose em {
        @apply text-[#a6adc8];
    }

    .prose ul,
    ol {
        @apply list-disc pl-10 text-xl mb-6;
    }

    .prose li {
        @apply mb-2;
    }

    .prose a {
        @apply underline underline-offset-4 decoration-wavy;
    }

    .prose pre {
        @apply mb-6;
    }
}
