---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
    <h1>&#47;&#42;&#42;</h1>

    <p class="intro-text">
        At Open Void, we strive not to create mediocre products -- products with
        half-hearted efforts and "good enough" solutions.
    </p>

    <p class="intro-text">
        We are tired of seeing bloated software filled with small, soul-sucking
        bugs that exist just because they can be fixed later, instead of
        creating something worthwhile, something that inspires people.
    </p>

    <p class="intro-text">
        By rejecting mediocrity, we demand more from ourselves and refuse to
        settle for anything short of perfection.
    </p>

    <p class="intro-text">
        <b>Open:</b> We are here to embrace opennes of software and solutions.
    </p>

    <p class="intro-text">
        <b>Void:</b> The void represents a place of boundless potential. To not limit
        yourself by predefined thoughts and self-doubt, but to create something you
        are proud of.
    </p>

    <h1>&#42;&#47;</h1>
</PageLayout>
