---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
    <h1>&#47;&#42;&#42;</h1>
    <p class="intro-text">
        Mediocrity is a disease, an insidious force that dulls the edges of our
        creativity and ambition. It's the easy path, the one littered with
        half-hearted efforts and "good enough" solutions. We see it everywhere -
        in the bloated software, the uninspired designs, the lackluster games.
        This isn't just about missing the mark; it's about a mindset that
        accepts the bare minimum and calls it a day.
    </p>
    <p class="intro-text">
        But why do we tolerate it? Is it fear of failure? Apathy? Or simply a
        lack of vision? Whatever the reason, mediocrity is a betrayal of our
        potential. It's the antithesis of what we, as creators, should strive
        for. We should be pushing boundaries, challenging conventions, and
        pouring our souls into our work. Anything less is an affront to the
        craft.
    </p>
    <p class="intro-text">
        Rejecting mediocrity means embracing discomfort, demanding more from
        ourselves, and refusing to settle. It's about holding ourselves to a
        higher standard and recognizing that excellence is not a destination but
        a relentless pursuit. Let's not just make things that work; let's make
        things that inspire, that resonate, that stand the test of time. Because
        anything less is not just a disservice to ourselves, but to the world we
        aim to impact.
    </p>

    <p class="intro-text">
        <b>Open:</b> Embracing openness is more than a principle—it's a commitment.
        Transparency and collaboration aren't just buzzwords; they're the lifeblood
        of progress. In the spirit of open source, we stand by the belief that knowledge
        should be shared, communities should be nurtured, and every contribution
        fuels the collective growth of the development ecosystem. This is about tearing
        down walls, dissolving silos, and fostering an environment where ideas can
        cross-pollinate and flourish.
    </p>

    <p class="intro-text">
        <i
            ><b>Void:</b> The void represents a canvas of boundless potential. Our
            projects are like the void—unfettered by predefined limits. This isn't
            just a metaphor; it's an ethos. We dive into the unknown, embracing the
            uncharted territory where true innovation lives. Here, we aren't just
            solving problems; we're redefining what's possible, constantly pushing
            the boundaries in pursuit of groundbreaking solutions.</i
        >
    </p>

    <h1 class="">&#42;&#47;</h1>
</PageLayout>
