---
import { Button } from "@/components/ui/button"
---

<nav class="flex justify-between items-center mt-6">
    <Button variant="link" className="p-0 text-muted-foreground text-md">
        <a href="/">Open Void</a>
    </Button>

    <ul class="flex gap-x-6">
        <li>
            <Button variant="link" className="p-0 text-muted-foreground text-md">
                <a href="/blog">Blog</a>
            </Button>
        </li>
        <li>
            <Button variant="link" className="p-0 text-muted-foreground text-md">
                <a href="/docs">Docs</a>
            </Button>
        </li>
    </ul>
</nav>