---
const { title, text } = Astro.props;
---

<hgroup>
    <p class="text-4xl mb-8">&#47;&#42;&#42;</p>
    <h1 class="text-2xl italic leading-relaxed mb-2">
        <span class="text-4xl">&#42;</span>
        <span class="text-3xl">{title}</span>
    </h1>
    <p class="text-2xl italic leading-relaxed mb-8">
        <span class="text-4xl">&#42;</span>
        {text}
    </p>
    <p class="text-4xl">&#42;&#47;</p>
</hgroup>
