---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"dev">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description}
        />
    </head>

    <body class="min-h-screen">
        <Header />

        <main class="container max-w-5xl py-24">
            <article>
                <div class="">
                    <hgroup class="mb-10">
                        <div class="italic text-xl">
                            <FormattedDate date={pubDate} />
                        </div>

                        <h1 class="text-5xl italic leading-relaxed mb-10">
                            <span>{title}</span>
                        </h1>
                    </hgroup>

                    <div class="prose">
                        <slot />
                    </div>
                </div>
            </article>
        </main>
    </body>
</html>
